# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# PyInstaller
build/*
!build/build.py
!build/README.md
dist/
*.spec

# Data
data/
sessions/
*.png
*.jpg
*.jpeg

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
